@import 'styles.css';

.bar-chart {
  & .bar {
    fill: #2F80ED;
  }

  & .x-axis path {
    stroke: var(--coldgrey);
    stroke-width: 1px;
  }
}

.pod-distribution-chart {
  font-size: 12px;

  & .bar-chart-title {
    margin-bottom: 8px;
  }

  & .bar-chart-tooltip {
    min-height: 32px;
    font-weight: var(--font-weight-bold);
  }
}
