@import 'styles.css';

.ant-layout-header {
  @apply --card;
  height: 64px;
  z-index: 100;
  position: fixed;
  width: 100%;
  padding:16px 40px;

  & span.ant-breadcrumb-link, & span.ant-breadcrumb-separator, & :first-child {
     color: rgb(0, 0, 0, 0.85);
     font-size: 21px;
     font-weight: var(--font-weight-bold);
     line-height: 32px;
  }
}

.ant-layout-header:last-child {
  color: var(--white);
}
