@import 'styles.css';

.ant-layout-header {
  background-color: var(--header-black);
  z-index: 100;
  position: fixed;
  width: 100vw;
  padding: 22px 40px;

  & span.ant-breadcrumb-link, & span.ant-breadcrumb-separator, & :first-child {
     color: var(--white);
  }
}

.ant-layout-header:last-child {
  color: var(--white);
}
