@import 'styles.css';

.ant-layout-header {
  background-color: #26e99d;
  height: 60px;
  z-index: 100;
  position: fixed;
  width: 100vw;
  padding:16px 50px;

  & span.ant-breadcrumb-link, & span.ant-breadcrumb-separator, & :first-child {
     color: black;
     font-size: 22px;
     font-weight: 500;
  }
}

.ant-layout-header:last-child {
  color: var(--white);
}
