@import 'styles.css';
@import 'scatterplot.css';

.chart-line {
  fill: none;
  stroke-width: 2px;
}

.line {
  stroke: steelblue;
}

.line-p50 {
  stroke: var(--pictonblue);
}

.line-p95 {
  stroke: var(--curiousblue);
}

.line-p99 {
  stroke: var(--royalblue);
}

.flash {
  fill: var(--pictonblue);
}
