@import 'styles.css';

.summary-stat {
  float: left;
  width: 50%;
}

.line-graph {
  margin-top: var(--base-width);
}

.scatterplot-display {
  font-size: 12px;

  & .title {
    font-weight: var(--font-weight-bold);
    margin-top: var(--base-width);
  }

  & .extremal-latencies {
    padding-bottom: var(--base-width);
    border-bottom: 1px solid #BDBDBD;
  }
}

& .border-container {
  height: 151px; /* override height */
}

& .border-container-content {
  height: 135px; /* override height */
}
