@import 'styles.css';

.metric-summary {
  & .metric {
    padding-left: var(--base-width);
    border-left: 4px solid var(--royalblue);

    &.metric-large {
      & .metric-title {
        font-size: 12px;
        font-weight: var(--font-weight-bold);
      }
      & .metric-value {
        font-size: 18px;
        font-weight: var(--font-weight-extra-bold);
      }
    }
  }
}
