@import 'styles.css';

.octopus-graph {
  padding: calc(var(--base-width) * 4);
  background-color: #FAFAFA;

  & .octopus-body {
    background-color: white;
    margin-bottom: calc(var(--base-width) * 3);
    border: 1px solid #F2F2F2;
  }

  & .octopus-col {
    text-align: center;
  }
  & .resource-col {
    padding: 32px;
  }

  & .octopus-title {
    padding: 8px 0;

    &.main {
      font-size: 24px;
      font-weight: var(--font-weight-extra-bold);
    }
    &.neighbor {
      font-size: 16px;
      font-weight: var(--font-weight-bold);
    }
  }

  & .octopus-sr-gauge {
    padding-top: calc(var(--base-width) * 2);

    & .ant-progress-text {
      color: black;
    }
  }

  & .octopus-metric {
    line-height: 32px;

    &.status-good {
      color: var(--green);
    }
    &.status-poor {
      color: var(--siennared);
    }
    &.status-neutral {
      color: var(--graphgrey);
    }
    &.status-ok {
      color: var(--orange);
    }
  }
}
