@import 'styles.css';

.header-with-metric {
  margin-top: 32px;

  & .subsection-header {
    float: left;
  }
  & .metric {
    float: right;
    text-align: right;
  }
}

.mesh-section .metric-large {
  width: 131px;
}

.mesh-completion-message {
  margin-top: calc(4 * var(--base-width));
  background-color: var(--royalblue);
  color: white;
  padding: var(--base-width);
  font-size: 16;
  border-radius: calc(var(--base-width)/2);
  font-weight: var(--font-weight-extra-bold);

  & code {
    color: #2f80ed;
    background-color: white;
    padding: 0.2em;
  }
}

.service-mesh-table {
  margin-top: 18px;
}

.metric-table.mesh-completion-table {
  & .ant-table-row {
    & td {
      & .container-bar {
        &.neutral {
          background-color: rgb(130,130,130, 0.1);;
        }
        &.poor{
          background-color: rgb(235, 87, 87, 0.1);
        }
        &.good{
          background-color: rgb(39, 174, 96, 0.1);
        }
      }

      & .inner-bar {
        &.neutral {
          background-color: rgb(130,130,130, 0.8);;
        }
        &.poor{
          background-color: rgba(255, 77, 43, 0.8);
        }
        &.good{
          background-color: rgba(38, 233, 157, 0.8);
        }
      }
    }
  }
}

/* styles for the StatusTable */
td div.status-dot {
  float: left;
  margin-right: var(--base-width);

  &.dot-multiline {
    margin-top: calc(0.5 * var(--base-width));
    margin-bottom: calc(0.5 * var(--base-width));
  }
}


/* error indicator and modal */
.controller-error-icon {
  cursor: pointer;
  margin-left: 5px;
  color: var(--red);
}
.controller-init-icon {

  & .ant-badge-status-processing {
    background-color: var(--orange);
    margin-left: 5px;
  }

  & .ant-badge-status-processing::after {
    border: 1px solid var(--orange);
  }

}

.controller-pod-error {
  margin-bottom: calc(3 * var(--base-width));

  & .container-error {
    margin-bottom: calc(3 * var(--base-width));
  }

  & p {
    line-height: 8px;
  }

  & .error-text {
    padding: var(--base-width);
    margin-top: var(--base-width);
    border-radius: calc(0.5 * var(--base-width));
    font-size: 12px;
    color: white;
    background-color: #696969;
  }
}
