@import 'styles.css';

.header-with-metric {
  margin-top: 32px;

  & .subsection-header {
    float: left;
  }
  & .metric {
    float: right;
  }
}

.mesh-section .metric-large {
  width: 131px;
}

.incomplete-mesh-message, .complete-mesh-message {
  background-color: var(--messageblue);
  color: white;
  padding: var(--base-width);
  font-size: 16;
  border-radius: calc(var(--base-width)/2);
  font-weight: var(--font-weight-extra-bold);
  border-radius: var
}

/* styles for the StatusTable */
td .status-dot {
  float: left;
  width: calc(2 * var(--base-width));
  height: calc(2 * var(--base-width));
  min-width: calc(2 * var(--base-width));
  border-radius: 50%;
  margin-right: var(--base-width);

  &.dot-multiline {
    margin-top: calc(0.5 * var(--base-width));
    margin-bottom: calc(0.5 * var(--base-width));
  }

  &.status-dot-good {
    background-color: var(--green);
  }
  &.status-dot-bad {
    background-color: var(--bad-red);
  }
  &.status-dot-neutral {
    background-color: #E0E0E0;
  }
}
