@import 'styles.css';

.sidebar {
  background-color: #091B39;
  color: white;
  min-height: 100vh;
  background-image: url(./../img/sidebar-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 50vh;

  & .sidebar-menu {
    background: none;
  }

  & .sidebar-menu-item {
    font-size: 16px;
    font-weight: var(--font-weight-bold);

    & a {
      color: white;
      display: inline-block;
      width: 100%;
    }

    & .update {
      color: var(--siennared);
    }
  }

  & img {
    height: 36px;
  }

  & .ant-menu-item:hover {
    background-color: #007EFF;
  }

  & .ant-menu-item-active, & .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: #007EFF;

    & a {
      text-decoration: none;
    }
  }

  & .sidebar-menu-header {
    padding: calc(var(--base-width)*2) 14px;

    &.collapsed {
      text-align: center;
    }
  }

  & .sidebar-menu-footer {
    position: fixed;
    bottom: 120px;
    margin-left: calc(var(--base-width)*2);

    @media only screen and (max-height: 560px) {
      display: none;
    }

    & .social-links {
      padding: 0 0 0 9px;

      & a {
        margin-right: calc(var(--base-width)*2);
      }
    }

    & .version {
      padding: 0 0 0 9px;
      font-size: 13px;
      font-weight: var(--font-weight-bold);
      line-height: 2;
      height: 40px;
    }
  }
}
