@import 'styles.css';

ul.ant-menu.ant-menu-sub {
  background: var(--sider-black);
}

.sidebar {
  background: var(--header-black);
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  & .ant-menu-submenu {
    & .ant-menu-submenu-title, & .anticon {
      /* override ant transition animation */
      transition: none;
      font-size: 16px;
    }
  }

  & .sidebar-menu {
    background: none;
  }

  & .sidebar-menu-item, & .sidebar-title {
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    color: white;

    & a {
      color: white;
    }

    & .update {
      color: var(--siennared);
    }

    & .ant-select-selection {
      width: 220px;
    }
  }

  & .sidebar-submenu-item {
    font-size: 14px;
    font-weight: 500;

    & a {
      color: var(--white);
    }
  }

  & img {
    height: 36px;
  }

  & .ant-menu-item {
    & div {
      & a {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          width: 160px;
      }

     & span.ant-badge-status {
        padding-left: 26px;
        vertical-align: top;
     }
    }
  }

  & .ant-menu-item:hover {
    background-color: #007EFF;
  }

  & .ant-menu-item-active, & .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: #007EFF;

    & a {
      text-decoration: none;
    }
  }

  & .sidebar-menu-header {
    height: 60px;
    padding: calc((var(--base-width) - 3)*2) 14px;

    &.collapsed {
      text-align: center;
    }
  }

  & .version {
    padding: 0 0 0 16px;
    font-size: 13px;
    font-weight: var(--font-weight-bold);
    line-height: 2;
    min-height: 56px;
  }
}

.ant-layout-sider {
  /* override ant color */
  background: var(--header-black);
  overflow: hidden;
}

.ant-layout .ant-layout-sider .ant-layout-sider-trigger {
  /* override ant color */
  background: var(--sider-black);
}

/* Hack to hide the scrollbar for firefox browsers */
@-moz-document url-prefix() {
  .ant-layout-sider-children {
    margin-right: -15px;
  }
}
