@import 'styles.css';

ul.ant-menu.ant-menu-sub {
  background: var(--sider-black);
}

.sidebar {
  background: var(--header-black);
  color: white;
  min-height: 100vh;

  & .ant-menu-submenu {
    & .ant-menu-submenu-title, & .anticon{
      /* override ant transition animation */
      transition: none;
    }
  }

  & .sidebar-menu {
    background: none;
  }

  & .sidebar-menu-item, & .sidebar-title {
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    color: white;

    & a {
      color: white;
    }

    & .update {
      color: var(--siennared);
    }

    & .ant-select-selection {
      width: 220px;
    }
  }

  & .sidebar-submenu-item {
    font-size: 14px;

    & a {
      color: var(--silver);
    }
  }

  & img {
    height: 36px;
  }

  & .ant-menu-item:hover {
    background-color: #007EFF;
  }

  & .ant-menu-item-active, & .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: #007EFF;

    & a {
      text-decoration: none;
    }
  }

  & .sidebar-menu-header {
    height: 80px;
    padding: calc(var(--base-width)*2) 14px;

    &.collapsed {
      text-align: center;
    }
  }

  & .sidebar-menu-footer {
    position: fixed;
    bottom: 120px;
    margin-left: calc(var(--base-width)*2);

    @media only screen and (max-height: 560px) {
      display: none;
    }

    & .social-links {
      padding: 0 0 0 9px;

      & a {
        margin-right: calc(var(--base-width)*2);
      }
    }

    & .version {
      padding: 0 0 0 9px;
      font-size: 13px;
      font-weight: var(--font-weight-bold);
      line-height: 2;
      height: 40px;
    }
  }
}

.ant-layout .ant-layout-sider, .ant-layout .ant-layout-sider .ant-layout-sider-trigger {
  /* override ant color */
  background: var(--sider-black);
}
