@import 'styles.css';

.sidebar {
  padding: 0px 0px 0px 20%;
  background-color: #091B39;
  color: white;
  min-height: 100vh;
  background-image: url(./../img/sidebar-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 50vh;

  & .sidebar-menu {
    background: none;
  }

  & .sidebar-menu-item {
    padding-left: 9px;
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    & a {
      color: white;
    }
  }

  & img {
    height: 36px;
  }

  & .sidebar-headers {
    padding: 27px 0px;
  }

  & .ant.menu {
    line-height: 0;
  }

  & .ant-menu-item {
    line-height: 1.4;
    margin-bottom: 4px;
  }

  & .ant-menu-item {
    padding: 8px 0px 11px 14px;
  }

  & .ant-menu-item {
    border-radius: 4px;
    margin-right: 8px;
  }

  & .ant-menu-item:hover {
    background-color: #007EFF;
  }

  & .ant-menu-item-active, & .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: #007EFF;
  }
}

.call-to-action .action {
  font-size: inherit;
}

.conduit-autocomplete {
  margin-bottom: calc(2 * var(--base-width));

  & .ant-select-selection__placeholder {
    color: #7395C8;
    font-size: 12px;
  }

  & .ant-select-search {
    background: #1B3358;
  }

  & .ant-input {
    border: 1px solid #7395C8;

    &.ant-select-search__field {
      color: white;
    }
  }
}
