@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import "variables";

.hide {
  display: none;
}

body {
  font-size: 100%;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-stack);
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 24px;
  font-weight: var(--font-weight-extra-bold);
}

h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-bold);
}

.clearfix {
  clear: both;
}

.main {
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  max-width: 100%;
  width: 100%;
  float: left;
}

.page-content {
  padding: var(--spacer-quintuple);
  margin-top: var(--spacer-octuple);
}

.page-header-container {
  border-radius: 0;
  padding: var(--spacer-triple) var(--spacer-quintuple);
}

.time-window-btns {
  float: right;
}

/* center the spinner */
.page-content .ant-spin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;

  &.short-spin-section {
    height: 100px;
  }
}

.card {
  @apply --card;

  &--padding {
    @apply --card-padding;
  }
}

.page-section {
  margin-bottom: var(--spacer-triple);
}

.subsection-header {
  @apply --card-padding;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: var(--font-weight-extra-bold);
}

.subsection-header.border-container {
  height: 48px; /* override height */
}

.subsection-header.border-container-content {
  height: 32px; /* override height */
}

.summary-title {
  font-size: 14px;
  font-weight: var(--font-weight-extra-bold);
}

.summary-info {
  font-size: 12px;
  color: var(--neutralgrey);
}

.metric-title {
  font-size: 12px;
  font-weight: var(--font-weight-regular);
}

.metric-value {
  font-size: 16px;
  font-weight: var(--font-weight-extra-bold);
}

.metric.metric-large {
  & .metric-title {
    font-size: 14px;
    font-weight: var(--font-weight-extra-bold);
  }
  & .metric-value {
    font-size: 24px;
  }
}

.no-data-msg {
  font-size: 12px;
  color: var(--neutralgrey);
}

.action {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  padding: 8px 0;
}

.error-message-container {
  overflow: auto;
  width: 100%;
  padding: var(--base-width);
  margin-bottom: calc(3 * var(--base-width));
  border-radius: 5px;
  background: var(--red);
  color: white;
  font-size: 12px;
  font-weight: var(--font-weight-bold);

  & .dismiss {
    float: right;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

a.button {
  color: var(--royalblue);
  background: #fff;
  border-radius: 48px;
  border: 1px solid var(--royalblue);
  padding: 10px 14px 11px 14px;
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  margin: 0px 8px 8px 0px;
  position: relative;
  line-height: 4;
}
a.button:hover {
  top: 1px;
  background-color: #efefef;
  text-decoration: none;
}
a.button:active {
  background-color: var(--royalblue);
  color: #fff;
}
a.button.primary {
  color: #fff;
  background-color: var(--royalblue);
}
a.button.primary:hover {
  top: 1px;
  background-color: #2875DE;
  text-decoration: none;
}
a.button.primary:active {
  background-color: #2469C7;
}

/*
  Ant overrides
*/
.ant-menu, .ant-table, .ant-tabs {
  font-family: var(--font-stack);
}

.ant-table-thead {
  background-color: var(--color-secondary);
}

.ant-table-middle > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td,
.ant-table-middle > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th {
  padding: calc( var(--spacer) * 1.5);
}

.metric-table {
  & .ant-table-content {
    font-size: 12px;
  }

  & thead > tr > th {
    background: none;
    color: var(--white);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    word-break: keep-all;
    padding: var(--spacer);

    &.ant-table-column-sort {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  & .ant-table table {
    font-weight: bold;
    font-size: .8rem;
    display: block;
  }

  & tr > th, & tr > td {
    @apply --text-overflow;
    max-width: var(--spacer-octuple);
    width: 10%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  & .ant-table-tbody > tr:hover > td {
    background: var(--table-row-hover);
  }

  & tr .numeric {
    text-align: right;
  }

  & .metric-table-sr {
    margin-right: 6px;
  }

  & .metric-table-sr-chart.ant-progress-circle {
    /* override ant progress circle height */
    & div.ant-progress-inner {
      max-height: 16px;
    }
  }
}

/* ant Progress bar color orverrides */
.success-rate-arc {
  &.status-good .ant-progress-circle-path {
    stroke: var(--green);
  }
  &.status-ok .ant-progress-circle-path {
    stroke: var(--orange)
  }
  &.status-poor .ant-progress-circle-path {
    stroke: var(--red);
  }
}

/* Colored dot for indicating statuses */
div.status-dot {
  width: calc(2 * var(--base-width));
  height: calc(2 * var(--base-width));
  min-width: calc(2 * var(--base-width));
  border-radius: 50%;

  &.status-dot-good {
    background-color: var(--green);
  }
  &.status-dot-poor {
    background-color: var(--red);
  }
  &.status-dot-neutral {
    background-color: #E0E0E0;
  }
  &.status-dot-ok {
    background-color: var(--orange);
  }
}

.anticon-check-circle.status-ok {
  color: var(--green);
}

div.ant-layout-has-sider {
  height: 100vh;
  overflow: hidden;
}
