@import 'styles.css';

.tap-form {
  & button.ant-btn-primary {
    &.tap-start {
      background-color: var(--green);
      border-color: var(--green);
    }
    &.tap-stop {
      background-color: var(--red);
      border-color: var(--red);
    }
  }

  & button.tap-form-toggle {
    padding-left: 0;
    border: none;
    color: rgba(52, 137, 206, 0.906);
  }
}

.tap-more-info {
  padding-right: 50px;

  & .tap-info-section {
    padding: 4px 0;

    & .expand-section-header {
      font-weight: var(--font-weight-bold);
    }
  }
}
