{{ define "base" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Linkerd</title>
    <meta name="description" content="Linkerd">
    <meta name="keywords" content="Linkerd">
    <link rel="icon" type="image/png" href="{{.Contents.PathPrefix}}dist/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    {{ template "script-tags" . }}
  </head>
  <body>
    {{ template "content" .Contents }}
  </body>
</html>
{{ end }}
