[package]
name = "linkerd-policy-controller-k8s-api"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
publish = false

[dependencies]
k8s-openapi = { version = "0.14", default-features = false, features = ["v1_20"] }
kube = { version = "0.70", default-features = false, features = ["client", "derive", "runtime"] }
ipnet = { version = "2.4", features = ["json"] }
schemars = "0.8"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.8"
tokio = { version = "1", features = ["time"] }
tracing = "0.1"
