.travis.yml
.git
**/.idea
**/cmake-*
**/CMakeLists.txt
*.iml
bin
!bin/fetch-proxy
!bin/web
**/Dockerfile*
Dockerfile*
**/target
target
!target/docker-build
web/app/node_modules
web/app/dist
web/app/yarn-error.log
vendor
