.travis.yml
.dep
.dep.exe
.git
**/.idea
**/cmake-*
**/CMakeLists.txt
*.iml
bin
!bin/dep
cli
controller
**/Dockerfile*
Dockerfile*
pkg
proxy-init
**/target
target
!target/docker-build
!target/go/linux_amd64_cgo
web
!web/app
web/app/node_modules
web/app/dist
vendor
