.git
.github
**/.idea
**/cmake-*
**/CMakeLists.txt
*.iml
**/node_modules
bin
!bin/action-dev-check
!bin/fetch-proxy
!bin/install-deps
!bin/scurl
!bin/web
**/Dockerfile*
Dockerfile*
**/target
target
!target/docker-build
web/app/dist
web/app/yarn-error.log
vendor
