**/disco
target
tmp.discovery
**/.idea
**/cmake-*
**/CMakeLists.txt
*.iml
**/node_modules
web/web
web/app/dist
web/app/yarn-error.log
vendor
**/*.gogen*
**/*.swp
charts/**/charts
package-lock.json
tags
