**/disco
target
tmp.discovery
**/.idea
**/cmake-*
**/CMakeLists.txt
*.iml
**/node_modules
web/web
web/app/dist
web/app/js/locales/_build
web/app/js/locales/**/*.js
web/app/yarn-error.log
vendor
**/*.gogen*
**/*.swp
**/charts/**/charts
package-lock.json
.vscode
