[package]
name = "linkerd-policy-controller"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
publish = false

[features]
default = ["linkerd-policy-controller-runtime/rustls-tls"]
openssl-tls = ["linkerd-policy-controller-runtime/openssl-tls"]
# Vendor openssl to statically link lib
openssl-vendored = ["linkerd-policy-controller-runtime/openssl-vendored"]

[dependencies]
anyhow = "1"
tokio = { version = "1", features = ["macros", "rt", "rt-multi-thread"] }

linkerd-policy-controller-runtime = { path = "./runtime", default-features = false }

[target.x86_64-unknown-linux-gnu.dependencies]
jemallocator = "0.5"
