[package]
name = "linkerd-policy-controller"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
publish = false

[features]
default = ["openssl-tls"]
openssl-tls = ["kube/openssl-tls"]
rustls-tls = ["kube/rustls-tls"]

[dependencies]
anyhow = "1"
async-trait = "0.1"
drain = "0.1"
futures = { version = "0.3", default-features = false }
k8s-gateway-api = "0.8"
k8s-openapi = { version = "0.16", features = ["v1_20"] }
hyper = { version = "0.14", features = ["http1", "http2", "runtime", "server"] }
ipnet = { version = "2", default-features = false }
linkerd-policy-controller-core = { path = "./core" }
linkerd-policy-controller-grpc = { path = "./grpc" }
linkerd-policy-controller-k8s-index = { path = "./k8s/index" }
linkerd-policy-controller-k8s-api = { path = "./k8s/api" }
parking_lot = "0.12"
serde = "1"
serde_json = "1"
thiserror = "1"
tokio-stream = { version = "0.1", features = ["sync"] }
tracing = "0.1"

[dependencies.clap]
version = "4"
default-features = false
features = ["derive", "env", "std"]

[dependencies.kube]
version = "0.76"
default-features = false
features = ["admission", "derive"]

[dependencies.kubert]
version = "0.12"
default-features = false
features = ["clap", "index", "runtime", "server"]

[dependencies.tokio]
version = "1"
features = ["macros", "parking_lot", "rt", "rt-multi-thread", "signal"]

[target.x86_64-unknown-linux-gnu.dependencies]
jemallocator = "0.5"
