gateway:
  # -- If the gateway component should be installed
  enabled: true
  # -- The name of the gateway that will be installed
  name: linkerd-gateway
  # -- The port on which all the gateway will accept incoming traffic
  port: 4143
  # -- The number of gateway replicas
  replicas: 1
  # -- Default resources for the gateway pods. If null, that resource won't be set
  resources: {}
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  # -- Node Selector settings for the gateway pods. (https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector)
  nodeSelector: {}
  # -- Toleration settings for the gateway pods. (https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/)
  tolerations: []
  # -- Affinity for gateway pods. (https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity)
  affinity: {}
  # -- Service Type of gateway Service
  serviceType: LoadBalancer
  # nodePort -- Set the gateway nodePort (for LoadBalancer or NodePort) to a specific value
  # nodePort:
  probe:
    # -- The path that will be used by remote clusters for determining whether the
    # gateway is alive
    path: /ready
    # -- The port used for liveliness probing
    port: 4191
    # nodePort -- Set the probe nodePort (for LoadBalancer or NodePort) to a specific value
    # nodePort:
    # -- The interval (in seconds) between liveness probes
    seconds: 3
  # -- Annotations to add to the gateway service
  serviceAnnotations: {}
  # -- Set loadBalancerIP on gateway service
  loadBalancerIP: ""

# -- If the namespace should be installed
installNamespace: true
# -- Control plane version
linkerdVersion: linkerdVersionValue
# -- Service Mirror component namespace
namespace: linkerd-multicluster
# -- The port on which the proxy accepts outbound traffic
proxyOutboundPort: 4140
# -- If the remote mirror service account should be installed
remoteMirrorServiceAccount: true
# -- The name of the service account used to allow remote clusters to mirror
# local services
remoteMirrorServiceAccountName: linkerd-service-mirror-remote-access-default
# -- Namespace of linkerd installation
linkerdNamespace: linkerd
# -- Identity Trust Domain of the certificate authority
identityTrustDomain: cluster.local
