{
    "presets":[
        "es2015", "react"
    ],
    "plugins": [
        ["import", { "libraryName": "antd", "style": "css" }], // `style: true` for less
        ["syntax-object-rest-spread"],
        ["transform-object-rest-spread"]
    ]
}
