{{ define "content" }}
  <div class="main" id="main"
    data-release-version="{{.ReleaseVersion}}"
    data-controller-namespace="{{.ControllerNamespace}}"
    data-uuid="{{.UUID}}"
    data-grafana="{{.Grafana}}"
    data-jaeger="{{.Jaeger}}">
    {{ if .Error }}
      <p>Failed to call public API: {{ .ErrorMessage }}</p>
    {{ end }}
  </div>
{{ end }}

{{ define "script-tags" }}
  {{ if not .Contents.Error }}
    <script type="text/javascript" src="{{.Contents.PathPrefix}}dist/index_bundle.js" async></script>
  {{end}}
{{end}}
