---
apiVersion: policy.linkerd.io/v1beta1
kind: Server
metadata:
  namespace: {{ .Release.Namespace }}
  name: proxy-admin
  labels:
    linkerd.io/extension: jaeger
    {{- with .Values.commonLabels }}{{ toYaml . | trim | nindent 4 }}{{- end }}
  annotations:
    {{ include "partials.annotations.created-by" . }}
spec:
  podSelector:
    matchLabels:
      linkerd.io/extension: jaeger
  port: linkerd-admin
  proxyProtocol: HTTP/1
---
apiVersion: policy.linkerd.io/v1beta1
kind: ServerAuthorization
metadata:
  namespace: {{ .Release.Namespace }}
  name: proxy-admin
  labels:
    linkerd.io/extension: jaeger
    {{- with .Values.commonLabels }}{{ toYaml . | trim | nindent 4 }}{{- end }}
  annotations:
    {{ include "partials.annotations.created-by" . }}
spec:
  server:
    name: proxy-admin
  client:
    # for kubelet probes
    unauthenticated: true

