[package]
name = "linkerd-policy-test"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
publish = false

[dependencies]
anyhow = "1"
kube = { version = "0.70", default-features = false, features = ["client", "native-tls"] }
k8s-openapi = { version = "0.14", features = ["v1_20"] }
linkerd-policy-controller-k8s-api = { path = "../policy-controller/k8s/api" }
rand = "0.8"
serde = "1"
serde_json = "1"
schemars = "0.8"
tokio = { version = "1", features = ["macros", "rt"] }
tracing = "0.1"
tracing-subscriber = "0.3"

[dev-dependencies]
tokio-test = "0.4"
