# -- Namespace of the Linkerd core control-plane install
linkerdNamespace: linkerd

# -- Additional labels to add to all pods
podLabels: {}

# -- Labels to apply to all resources
commonLabels: {}

# -- Docker imagePullPolicy for all jaeger components
imagePullPolicy: IfNotPresent

# -- Default nodeSelector section, See the
# [K8S documentation](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector) for more information
nodeSelector: &default_node_selector
  kubernetes.io/os: linux

# -- For Private docker registries, authentication is needed.
#  Registry secrets are applied to the respective service accounts
imagePullSecrets: []
# - name: my-private-docker-registry-login-secret

# -- Default tolerations section, See the
# [K8S documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/)
# for more information
tolerations: &default_tolerations

# -- Create Roles and RoleBindings to associate this extension's
# ServiceAccounts to the control plane PSP resource. This requires that
# `enabledPSP` is set to true on the control plane install. Note PSP has been
# deprecated since k8s v1.21
enablePSP: false

# -- Default UID for all the jaeger components
defaultUID: 2103

# -- Kubernetes DNS Domain name to use
clusterDomain: cluster.local
collector:
  # -- Set to false to exclude collector installation
  enabled: true
  image:
    name: otel/opentelemetry-collector
    version: 0.59.0
    pullPolicy: Always

  resources:
    cpu:
      # -- Maximum amount of CPU units that the collector container can use
      limit:
      # -- Amount of CPU units that the collector container requests
      request:
    memory:
      # -- Maximum amount of memory that collector container can use
      limit:
      # -- Amount of memory that the collector container requests
      request:
    ephemeral-storage:
      # -- Maximum amount of ephemeral storage that the collector container can use
      limit: ""
      # -- Amount of ephemeral storage that the collector container requests
      request: ""

  # -- NodeSelector section, See the
  # [K8S documentation](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector) for more information
  nodeSelector: *default_node_selector
  # -- Tolerations section, See the
  # [K8S documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/)
  # for more information
  tolerations: *default_tolerations

  # -- UID for the collector resource
  UID:

  # -- OpenTelemetry Collector config, See the
  # [Configuration docs](https://opentelemetry.io/docs/collector/configuration/)
  # for more information
  # @default -- see `value.yaml` for actual configuration
  config: |
    receivers:
      otlp:
        protocols:
          grpc:
          http:
      opencensus:
      zipkin:
      jaeger:
        protocols:
          grpc:
          thrift_http:
          thrift_compact:
          thrift_binary:
    processors:
      batch:
    extensions:
      health_check:
    exporters:
      jaeger:
        endpoint: jaeger.${POD_NAMESPACE}:14250
        tls:
          insecure: true
    service:
      extensions: [health_check]
      pipelines:
        traces:
          receivers: [otlp,opencensus,zipkin,jaeger]
          processors: [batch]
          exporters: [jaeger]

jaeger:
  # -- Set to false to exclude all-in-one Jaeger installation
  enabled: true
  image:
    name: jaegertracing/all-in-one
    version: 1.31
    pullPolicy: Always

  # -- CLI arguments for Jaeger, See [Jaeger AIO Memory CLI reference](https://www.jaegertracing.io/docs/1.24/cli/#jaeger-all-in-one-memory)
  args:
    - --query.base-path=/jaeger

  resources:
    cpu:
      # -- Maximum amount of CPU units that the jaeger container can use
      limit:
      # -- Amount of CPU units that the jaeger container requests
      request:
    memory:
      # -- Maximum amount of memory that jaeger container can use
      limit:
      # -- Amount of memory that the jaeger container requests
      request:
    ephemeral-storage:
      # -- Maximum amount of ephemeral storage that the jaeger container can use
      limit: ""
      # -- Amount of ephemeral storage that the jaeger container requests
      request: ""

  # -- NodeSelector section, See the
  # [K8S documentation](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector) for more information
  nodeSelector: *default_node_selector
  # -- Tolerations section, See the
  # [K8S documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/)
  # for more information
  tolerations: *default_tolerations

  # -- UID for the jaeger resource
  UID:

linkerdVersion: &linkerd_version linkerdVersionValue

namespaceMetadata:
  image:
    # -- Docker registry for the namespace-metadata instance
    registry: curlimages
    # -- Docker image name for the namespace-metadata instance
    name: curl
    # -- Docker image tag for the namespace-metadata instance
    tag: 7.78.0
    # -- Pull policy for the namespace-metadata instance
    # @default -- imagePullPolicy
    pullPolicy: ""

webhook:
  # -- Do not create a secret resource for the webhook.
  # If this is set to `true`, the value `webhook.caBundle` must be set
  # or the ca bundle must injected with cert-manager ca injector using
  # `webhook.injectCaFrom` or `webhook.injectCaFromSecret` (see below).
  externalSecret: false

  # -- Certificate for the webhook. If not provided and not using an external secret
  # then Helm will generate one.
  crtPEM: |

  # -- Certificate key for the webhook. If not provided and not using an external secret
  # then Helm will generate one.
  keyPEM: |

  # -- Bundle of CA certificates for webhook.
  # If not provided nor injected with cert-manager,
  # then Helm will use the certificate generated for `webhook.crtPEM`.
  # If `webhook.externalSecret` is set to true, this value, injectCaFrom, or
  # injectCaFromSecret must be set, as no certificate will be generated.
  # See the cert-manager [CA Injector Docs](https://cert-manager.io/docs/concepts/ca-injector) for more information.
  caBundle: |

  # -- Inject the CA bundle from a cert-manager Certificate.
  # See the cert-manager [CA Injector Docs](https://cert-manager.io/docs/concepts/ca-injector/#injecting-ca-data-from-a-certificate-resource)
  # for more information.
  injectCaFrom: ""

  # -- Inject the CA bundle from a Secret.
  # If set, the `cert-manager.io/inject-ca-from-secret` annotation will be added to the webhook.
  # The Secret must have the CA Bundle stored in the `ca.crt` key and have
  # the `cert-manager.io/allow-direct-injection` annotation set to `true`.
  # See the cert-manager [CA Injector Docs](https://cert-manager.io/docs/concepts/ca-injector/#injecting-ca-data-from-a-secret-resource)
  # for more information.
  injectCaFromSecret: ""

  # -- collector service address for the proxies to send trace data.
  # Points by default to the the linkerd-jaeger collector
  collectorSvcAddr: collector.linkerd-jaeger:55678
  # -- service account associated with the collector instance
  collectorSvcAccount: collector

  failurePolicy: Ignore
  image:
    name: cr.l5d.io/linkerd/jaeger-webhook
    version: *linkerd_version
    pullPolicy: IfNotPresent
  logLevel: info

  namespaceSelector:
    #matchExpressions:
    #- key: runlevel
    #  operator: NotIn
    #  values: ["0","1"]
  objectSelector:
    #matchLabels:
    #  foo: bar

  resources:
    cpu:
      # -- Maximum amount of CPU units that the jaeger-injector container can use
      limit:
      # -- Amount of CPU units that the jaeger-injector container requests
      request:
    memory:
      # -- Maximum amount of memory that jaeger-injector container can use
      limit:
      # -- Amount of memory that the jaeger-injector container requests
      request:

  # -- NodeSelector section, See the
  # [K8S documentation](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector) for more information
  nodeSelector: *default_node_selector
  # -- Tolerations section, See the
  # [K8S documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/)
  # for more information
  tolerations: *default_tolerations

  # -- UID for the webhook resource
  UID:
