[package]
name = "linkerd-policy-controller-grpc"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
publish = false

[dependencies]
async-stream = "0.3"
async-trait = "0.1"
http = "0.2"
drain = "0.1"
futures = { version = "0.3", default-features = false }
hyper = { version = "0.14", features = ["http2", "server", "tcp"] }
linkerd-policy-controller-core = { path = "../core" }
maplit = "1"
prost-types = "0.12.6"
tokio = { version = "1", features = ["macros"] }
tonic = { version = "0.10", default-features = false }
tracing = "0.1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[dependencies.linkerd2-proxy-api]
version = "0.15"
features = ["inbound", "outbound"]
