name: Actions

on:
  pull_request:
    paths:
      - .devcontainer/devcontainer.json
      - .github/workflows/**

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ${{ vars.LINKERD2_RUNNER || 'ubuntu-24.04' }}
    timeout-minutes: 10
    steps:
      - uses: linkerd/dev/actions/setup-tools@v48
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - run: just-dev lint-actions

  devcontainer-versions:
    runs-on: ${{ vars.LINKERD2_RUNNER || 'ubuntu-24.04' }}
    steps:
      - uses: linkerd/dev/actions/setup-tools@v48
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - run: just-dev check-action-images
