name: Actions

on:
  pull_request:
    paths:
      - .devcontainer/devcontainer.json
      - .github/workflows/**

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    container: ghcr.io/linkerd/dev:v29-tools
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: Run actionlint
        run: just action-lint

  devcontainer-versions:
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v29-tools
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - run: just action-dev-check
