name: Coverage

# Run weekly on Sunday at midnight (UTC).
on:
  schedule:
    - cron: '0 0 * * 0'

permissions:
  contents: read

jobs:
  go:
    name: Go
    timeout-minutes: 30
    runs-on: ubuntu-20.04
    container:
      image: golang:1.17.3
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846
      - run: go get gotest.tools/gotestsum@v0.4.2
      - run: gotestsum -- -cover -coverprofile=coverage.out -v -mod=readonly ./...
      - uses: codecov/codecov-action@f32b3a3741e1053eb607407145bc9619351dc93b
        with:
          files: ./coverage.out
          flags: unittests,golang

  js:
    name: JS
    timeout-minutes: 30
    runs-on: ubuntu-20.04
    container:
      image: node:14-stretch
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846
      - name: Yarn setup
        run: bin/scurl -o- https://yarnpkg.com/install.sh | bash -s -- --version 1.21.1 --network-concurrency 1
      - name: Unit tests
        run: |
          export PATH="$HOME/.yarn/bin:$PATH"
          export NODE_ENV=test
          bin/web --frozen-lockfile
          bin/web test --reporters="jest-progress-bar-reporter" --reporters="./gh_ann_reporter.js" --coverage
      - uses: codecov/codecov-action@f32b3a3741e1053eb607407145bc9619351dc93b
        with:
          directory: ./web/app/coverage
          flags: unittests,javascript

  rust:
    name: Rust
    runs-on: ubuntu-latest
    timeout-minutes: 15
    container:
      image: docker://rust:1.59.0
      options: --security-opt seccomp=unconfined
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846
      - run: mkdir -p target && cd target && bin/scurl -v https://github.com/xd009642/tarpaulin/releases/download/0.18.0/cargo-tarpaulin-0.18.0-travis.tar.gz | tar zxvf - && chmod 755 cargo-tarpaulin
      - run: target/cargo-tarpaulin tarpaulin --workspace --out Xml
      - uses: codecov/codecov-action@f32b3a3741e1053eb607407145bc9619351dc93b
        with:
          flags: unittests,rust
