name: Go

on:
  pull_request:
    paths:
      - .github/workflows/go.yml
      - go.sum
      - '**/*.go'
      - '**/*.golden'
      - '**/charts/**'

permissions:
  contents: read

jobs:
  go-lint:
    timeout-minutes: 10
    runs-on: ubuntu-20.04
    container: ghcr.io/linkerd/dev:v24-go
    steps:
    - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
    - run: golangci-lint run --verbose --timeout=10m

  go-format:
    timeout-minutes: 10
    runs-on: ubuntu-20.04
    container: ghcr.io/linkerd/dev:v24-go
    steps:
    - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
    - run: bin/fmt

  go-test:
    timeout-minutes: 10
    runs-on: ubuntu-20.04
    container: ghcr.io/linkerd/dev:v24-go
    steps:
    - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
    - run: go mod download
    - run: gotestsum -- -race -v -mod=readonly ./...
      env:
        LINKERD_TEST_PRETTY_DIFF: 1

