name: Go

on:
  pull_request:
    paths:
      - .github/workflows/go.yml
      - go.sum
      - '**/*.go'
      - '**/*.golden'
      - '**/charts/**'

permissions:
  contents: read

jobs:
  go-lint:
    timeout-minutes: 10
    runs-on: ubuntu-20.04
    container: ghcr.io/linkerd/dev:v39-go
    steps:
      - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
      - run: just go-lint --verbose --timeout=10m

  go-format:
    timeout-minutes: 10
    runs-on: ubuntu-20.04
    container: ghcr.io/linkerd/dev:v39-go
    steps:
      - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
      - run: just go-fmt

  go-test:
    timeout-minutes: 10
    runs-on: ubuntu-20.04
    container: ghcr.io/linkerd/dev:v39-go
    steps:
      - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
      - run: just go-fetch
      - run: just go-test

