name: Go
on: pull_request

permissions:
  contents: read

jobs:
  meta:
    runs-on: ${{ vars.LINKERD2_RUNNER || 'ubuntu-24.04' }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891
        id: changed
        with:
          files: |
            .github/workflows/go.yml
            go.sum
            **/*.go
            **/*.golden
            **/charts/**
          files_ignore: |
            **/Chart.yaml
            **/README*
    outputs:
      changed: ${{ steps.changed.outputs.any_changed }}

  go-lint:
    needs: meta
    if: needs.meta.outputs.changed == 'true'
    timeout-minutes: 10
    runs-on: ${{ vars.LINKERD2_RUNNER || 'ubuntu-24.04' }}
    container: ghcr.io/linkerd/dev:v48-go
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: go.mod
      - run: git config --global --add safe.directory "$PWD" # actions/runner#2033
      - run: just go-lint --verbose --timeout=10m

  go-format:
    needs: meta
    if: needs.meta.outputs.changed == 'true'
    timeout-minutes: 10
    runs-on: ${{ vars.LINKERD2_RUNNER || 'ubuntu-24.04' }}
    container: ghcr.io/linkerd/dev:v48-go
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: go.mod
      - run: git config --global --add safe.directory "$PWD" # actions/runner#2033
      - run: just go-fmt

  go-test:
    needs: meta
    if: needs.meta.outputs.changed == 'true'
    timeout-minutes: 30
    runs-on: ${{ vars.LINKERD2_RUNNER || 'ubuntu-24.04' }}
    container: ghcr.io/linkerd/dev:v48-go
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: go.mod
      - run: git config --global --add safe.directory "$PWD" # actions/runner#2033
      - run: just go-fetch
      - run: just go-test

  # There's currently one flakey test we want to retry in particular:
  # TestEndpointProfileTranslator/Handles_overflow
  go-test-retry:
    needs: go-test
    if: failure() && fromJSON(github.run_attempt) < 3
    runs-on: ${{ vars.LINKERD2_RUNNER || 'ubuntu-24.04' }}
    permissions:
      actions: write
    env:
      GH_REPO: ${{ github.repository }}
      GH_TOKEN: ${{ github.token }}
      GH_DEBUG: api
      REF: ${{ github.head_ref }}
    steps:
      - run: gh workflow run rerun.yml -F 'run_id=${{ github.run_id }}' --ref "$REF"

  go-ok:
    needs: [go-lint, go-format, go-test]
    if: always()
    runs-on: ${{ vars.LINKERD2_RUNNER || 'ubuntu-24.04' }}
    steps:
      - name: Results
        run: |
          echo 'go-lint: ${{ needs.go-lint.result }}'
          echo 'go-format: ${{ needs.go-format.result }}'
          echo 'go-test: ${{ needs.go-test.result }}'

      - name: Verify jobs
        # All jobs must succeed or be skipped.
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1
