
name: Helm

on:
  pull_request:
    paths:
      - .github/workflows/helm.yml
      - bin/helm*
      - '**/charts/**'

permissions:
  contents: read

jobs:
  helm-docs-diff:
    runs-on: ubuntu-20.04
    timeout-minutes: 5
    container: ghcr.io/linkerd/dev:v24-tools
    steps:
    - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
    - run: bin/helm-docs-diff
