
name: Helm

on:
  pull_request:
    paths:
      - .github/workflows/helm.yml
      - bin/helm*
      - '**/charts/**'

permissions:
  contents: read

jobs:
  helm-docs-diff:
    runs-on: ubuntu-20.04
    timeout-minutes: 5
    steps:
      - uses: linkerd/dev/actions/setup-tools@v41
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608
      - run: helm-docs
      - run: git diff --exit-code -- **/charts/**/README.md
