name: Helm

on:
  pull_request:
    paths:
      - .github/workflows/helm.yml
      - bin/helm*
      - "charts/**"
      - "**/charts/**"

permissions:
  contents: read

jobs:
  helm-docs-diff:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - uses: linkerd/dev/actions/setup-tools@v43
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - run: helm-docs
      - run: git diff --exit-code -- **/charts/**/README.md
