name: Integration tests

on:
  pull_request:
    paths:
      - .github/workflows/integration.yml
      - .proxy-version
      - '**/*.go'
      - '**/Dockerfile*'
      - Cargo.lock
      - charts/**
      - go.sum
      - justfile
      - multicluser/**
      - policy-controller/**
      - policy-test/**
      - viz/**
      - '!.devcontainer/**'

permissions:
  contents: read

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  DOCKER_REGISTRY: ghcr.io/linkerd
  GH_ANNOTATION: true
  K3D_VERSION: v5.4.4
  RUST_BACKTRACE: short
  RUSTUP_MAX_RETRIES: 10
  YQ_VERSION: v4.25.1

jobs:
  cleanup:
    runs-on: ubuntu-20.04
    permissions:
      actions: write
    steps:
      - uses: styfle/cancel-workflow-action@b173b6ec0100793626c2d9e6b90435061f4fc3e5
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

  tag:
    needs: [cleanup]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: echo tag="$(CI_FORCE_CLEAN=1 bin/root-tag)" >> "$GITHUB_OUTPUT"
        id: tag
    outputs:
      tag: ${{ steps.tag.outputs.tag }}

  build-cli:
    needs: [tag]
    runs-on: ubuntu-20.04
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - uses: ./.github/actions/docker-build
        id: build
        with:
          docker-registry: ${{ env.DOCKER_REGISTRY }}
          docker-target: linux-amd64
          component: cli-bin
          tag: ${{ needs.tag.outputs.tag }}
      - name: Extract CLI binary
        run: |
          mkdir -p /home/runner/archives
          id=$(docker create '${{ steps.build.outputs.image }}')
          docker cp "$id:/out/linkerd-linux-amd64" /home/runner/archives/linkerd
          v=$(/home/runner/archives/linkerd version --short --client)
          [[ "$v" == '${{ needs.tag.outputs.tag }}' ]] || exit 1
      - uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
        with:
          name: image-archives
          path: /home/runner/archives

  ##
  ## Core: Test the core control plane
  ##
  ## TODO(ver) CNI configurations should be tested separately.
  ##

  build-core:
    needs: [tag]
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        component:
          - cni-plugin
          - controller
          - policy-controller
          - proxy
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - uses: ./.github/actions/docker-build
        id: build
        with:
          docker-registry: ${{ env.DOCKER_REGISTRY }}
          docker-target: linux-amd64
          component: ${{ matrix.component }}
          tag: ${{ needs.tag.outputs.tag }}
      - name: Run docker save
        run: |
          mkdir -p /home/runner/archives
          docker save '${{ steps.build.outputs.image }}' >'/home/runner/archives/${{ matrix.component }}.tar'
      - uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
        with:
          name: image-archives
          path: /home/runner/archives

  test-core:
    needs: [tag, build-cli, build-core]
    strategy:
      matrix:
        test:
          - cni-calico-deep
          - deep
    continue-on-error: true
    runs-on: ubuntu-20.04
    timeout-minutes: 15
    steps:
      - uses: actions/setup-go@d0a58c1c4d2b25278816e339b944508c875f3613
        with:
          go-version: '1.18'
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          name: image-archives
          path: image-archives
      - run: cp image-archives/linkerd "$HOME" && chmod 755 "$HOME/linkerd"
      - run: find image-archives -ls
      - run: bin/tests --images archive --cleanup-docker --name ${{ matrix.test }} "$HOME/linkerd"
        env:
          LINKERD_DOCKER_REGISTRY: ${{ env.DOCKER_REGISTRY }}
          TAG: ${{ needs.tag.outputs.tag }}

  ##
  ## Policy: Only run policy tests when the policy controller or proxy changes
  ##

  changed-policy:
    needs: [cleanup]
    runs-on: ubuntu-20.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - uses: tj-actions/changed-files@8a4cc4fbd67975557b6d85dd302f5f9400b9c92e
        id: changed
        with:
          files: |
            .github/workflows/integration.yml
            .proxy-version
            Cargo.lock
            charts/linkerd-control-plane/**
            charts/linkerd-crds/templates/policy/**
            justfile
            policy-controller/**
            policy-test/**
    outputs:
      modified: ${{ steps.changed.outputs.any_modified }}

  test-policy:
    needs: [tag, changed-policy, build-cli, build-core]
    if: needs.changed-policy.outputs.modified == 'true'
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    strategy:
      matrix:
        k8s:
          - v1.21
          - v1.25
    steps:
      - uses: linkerd/dev/actions/setup-tools@v36
      - uses: linkerd/dev/actions/setup-rust@v36
      - run: echo K8S_VERSION='${{ matrix.k8s }}' >> "$GITHUB_ENV"
      - uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          name: image-archives
          path: image-archives
      - run: find image-archives -ls
      - run: docker load <image-archives/controller.tar
      - run: docker load <image-archives/policy-controller.tar
      - run: docker load <image-archives/proxy.tar
      - run: docker image ls
      - run: cp image-archives/linkerd "$HOME" && chmod 755 "$HOME/linkerd"
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: just policy-test-build
      - run: just k3d-create
      - run: just linkerd-tag='${{ needs.tag.outputs.tag }}' linkerd-exec="$HOME/linkerd" linkerd-install
      - run: just linkerd-tag='${{ needs.tag.outputs.tag }}' policy-test-deps-load
      - run: just policy-test-run --jobs=1

  ##
  ## Ext: Run tests that require non-core components.
  ##

  build-ext:
    needs: [tag]
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        component:
          - jaeger-webhook
          - metrics-api
          - tap
          - web
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - uses: ./.github/actions/docker-build
        id: build
        with:
          docker-registry: ${{ env.DOCKER_REGISTRY }}
          docker-target: linux-amd64
          component: ${{ matrix.component }}
          tag: ${{ needs.tag.outputs.tag }}
      - name: Run docker save
        run: |
          mkdir -p /home/runner/archives
          docker save '${{ steps.build.outputs.image }}' >'/home/runner/archives/${{ matrix.component }}.tar'
      - uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
        with:
          name: image-archives
          path: /home/runner/archives

  # These tests exercise core functionality, but need the viz extension.
  test-ext:
    needs: [tag, build-cli, build-core, build-ext]
    strategy:
      matrix:
        integration_test:
          - cluster-domain
          - default-policy-deny
          - external
          - rsa-ca
          # Skipping Helm upgrade test given chart in 2.11 is backwards-incompatible
          #- helm-upgrade
          - uninstall
          - upgrade-edge
          - upgrade-stable
    continue-on-error: true
    runs-on: ubuntu-20.04
    timeout-minutes: 15
    steps:
      - uses: actions/setup-go@d0a58c1c4d2b25278816e339b944508c875f3613
        with:
          go-version: '1.18'
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          name: image-archives
          path: image-archives
      - run: cp image-archives/linkerd "$HOME" && chmod 755 "$HOME/linkerd"
      - run: ls -l image-archives/linkerd
      - run: bin/tests --images archive --cleanup-docker --name '${{ matrix.integration_test }}' "$HOME/linkerd"
        env:
          LINKERD_DOCKER_REGISTRY: ${{ env.DOCKER_REGISTRY }}

  ##
  ## Viz: Run the (flakey) `viz` suite only when the `viz` extension is updated.
  ##

  changed-viz:
    needs: [cleanup]
    runs-on: ubuntu-20.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - uses: tj-actions/changed-files@8a4cc4fbd67975557b6d85dd302f5f9400b9c92e
        id: changed
        with:
          files: |
            .github/workflows/integration.yml
            .proxy-version
            justfile
            viz/**
            test/integration/viz/**
    outputs:
      modified: ${{ steps.changed.outputs.any_modified }}

  test-viz:
    needs: [tag, changed-viz, build-cli, build-core, build-ext]
    if: needs.changed-viz.outputs.modified == 'true'
    continue-on-error: true
    runs-on: ubuntu-20.04
    timeout-minutes: 15
    steps:
      - uses: actions/setup-go@d0a58c1c4d2b25278816e339b944508c875f3613
        with:
          go-version: '1.18'
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          name: image-archives
          path: image-archives
      - run: cp image-archives/linkerd "$HOME" && chmod 755 "$HOME/linkerd"
      - run: ls -l image-archives/linkerd
      - run: bin/tests --images archive --cleanup-docker --name viz "$HOME/linkerd"
        env:
          LINKERD_DOCKER_REGISTRY: ${{ env.DOCKER_REGISTRY }}

  ##
  ## Multicluster: Run 'multicluster' suite only when the 'multicluster' extension is updated.
  ##               Tests are run on min and max k8s versions
  ##

  changed-multicluster:
    needs: [cleanup]
    runs-on: ubuntu-20.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - uses: tj-actions/changed-files@8a4cc4fbd67975557b6d85dd302f5f9400b9c92e
        id: changed
        with:
          files: |
            .github/workflows/integration.yml
            .proxy-version
            justfile
            multicluster/**
            test/integration/multicluster/**
    outputs:
      modified: ${{ steps.changed.outputs.any_modified }}

  test-multicluster:
    needs: [tag, changed-multicluster, build-cli, build-core, build-ext]
    if: needs.changed-multicluster.outputs.modified == 'true'
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    strategy:
      matrix:
        k8s:
          - v1.21
          - v1.25
    steps:
      - uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          name: image-archives
          path: image-archives
      - run: cp image-archives/linkerd "$HOME" && chmod 755 "$HOME/linkerd"
      - run: ls -l image-archives/linkerd
      - name: Load docker images
        run: |
          for img in controller policy-controller proxy web metrics-api tap jaeger-webhook; do
            docker load <"image-archives/${img}.tar"
          done
      - run: docker image ls

      - uses: linkerd/dev/actions/setup-tools@v36
      - uses: linkerd/dev/actions/setup-go@v36
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: just mc-test-build
      - run: just linkerd-tag='${{ needs.tag.outputs.tag }}' mc-test-load
      - run: just linkerd-tag='${{ needs.tag.outputs.tag }}' mc-test-run
