name: Rust

on:
  pull_request:
    paths:
      - .github/workflows/rust.yml
      - Cargo.lock
      - '**/Cargo.toml'
      - justfile
      - deny.toml
      - '**/*.rs'
      - policy-*/*.dockerfile
      - rust-toolchain

permissions:
  contents: read

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  PROTOC_NO_VENDOR: 1
  RUST_BACKTRACE: short
  RUSTUP_MAX_RETRIES: 10

jobs:
  audit:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        checks:
          - advisories
          - bans licenses sources
    # Prevent sudden announcement of a new advisory from failing Ci.
    continue-on-error: ${{ matrix.checks == 'advisories' }}
    steps:
    - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
    - uses: EmbarkStudios/cargo-deny-action@8a8607bd8e2b3a514d5a40174cc7c55b229d9ba7
      with:
        command: check ${{ matrix.checks }}

  fmt:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v32-rust
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: just rs-check-fmt

  clippy:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v32-rust
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: just rs-fetch
      - run: just rs-clippy
      - run: just rs-doc --no-deps

  check:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v32-rust
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: just rs-fetch
      - run: just rs-check-dirs

  test:
    name: test
    runs-on: ubuntu-latest
    timeout-minutes: 15
    container: ghcr.io/linkerd/dev:v32-rust
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: just rs-fetch
      - run: just rs-test-build
      - run: just rs-test

  rust-toolchain:
    name: rust toolchain
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: |
          ex=0

          # Check this workflow against the version in rust-toolchain.
          versions=$(sed -nE 's|.*docker://(.*/)?rust:([^ #]+).*|\2|p' .github/workflows/*)
          for mismatch in $(echo "$versions" | grep -vF "$(cat rust-toolchain)" || true) ; do
            echo "::error file=.github/workflows/rust.yml::Workflow uses incorrect rust version(s): $mismatch"
            ex=$((ex + 1))
          done

          # Check the policy-controller dockerfiles workflow against the version
          # in rust-toolchain.
          for f in policy-controller/*.dockerfile ; do
            versions=$(sed -nE 's|ARG RUST_IMAGE=(.*/)?rust:([^ #]+).*|\2|p' "$f")
            for mismatch in $(echo "$versions" | grep -vF "$(cat rust-toolchain)" || true) ; do
              echo "::error file=\"$f\"::$f uses incorrect rust version(s): $mismatch"
              ex=$((ex + 1))
            done
          done

          exit $ex
