name: Shell

on:
  pull_request:
    paths:
      - .github/workflows/shell.yml
      - '**/*.sh'

permissions:
  contents: read

jobs:
  # For more information on shellcheck failures:
  # https://github.com/koalaman/shellcheck/wiki/Checks
  shellcheck:
    timeout-minutes: 10
    runs-on: ubuntu-20.04
    steps:
      - uses: linkerd/dev/actions/setup-tools@v41
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - run: just sh-lint

